.ListBox{
    margin: 10px;
    margin-top: 10px;

    
}


.ListBox label {
    display: block;
    margin-bottom: 8px;
    font-size: 24px;
    }

.ListBox select{
    background-color: #fff;
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.4);
    width: 100%;
    border: none;
    font-size: 24px;
    padding: 24px;
    box-sizing: border-box;
    border-radius: 20px;

}

    